@import "mixins";
@import "variables";
@import "resets";

// Reset
* {
  vertical-align: middle;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 1em;
  letter-spacing: 0;
  box-sizing: border-box;
}

button, button:focus {
  outline: none;
  border: none;
  border-radius: 10px;
  &:disabled {
    opacity: 0.5;
  }
}

ul {
  list-style: none;
  li {
    cursor: pointer;
  }
}

img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: $border;
}

// App
#main {
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;

  // Header / Top Nav
  header {
    @include flex_layout();
    @include flex_items();
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: $header-background;
    color: $header-color;
    p {
      padding: 0 10px;
      font-size: 1.3em;
    }
    a {
      padding: 0 10px 0 0;
      color: $blue;
      text-decoration: none;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    padding: $header-height 0 $footer-height;
  }

  // Footer
  footer {
    @include flex_layout();
    @include flex_items($margin: auto 10px);
    @extend small;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    background: $footer-background;
    color: $footer-color;
    border-top: $border;
    a {
      color: $orange;
      vertical-align: top;
      text-decoration: none;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: $shade9;
      }
    }
  }

  .flex {
    @include flex_layout();
    @include flex_items($margin: auto 10px);
  }

  .spacer {
    flex-grow: 2;
  }

  .search {
    padding: 0 10px;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
}



// Surfers List
#surfers_list {
  ul {
    @extend .flex;
    .selected, :hover {
      color: $forest;
    }
    .entered {
      color: #ff0099;
    }
  }
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: $shade11;
    background: $shade3;
  }
}

// Score
#score_card {
  width: 100%;
  padding: 10px;
  .riders {
    @extend .flex;
    .selected {
      color: $forest;
    }
  }
  .points {
    list-style: none;
    border: 1px solid black;
    @extend .flex;
    li {
      padding: 10px 5px;
      font-size: 2em;
      &.selected {
        color: $forest;
      }
    }
  }
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: $shade11;
    background: $shade3;
  }
}

// Rider
.rider {
  padding: 20px;
  + .rider {
    border-top: 1px solid $shade3;
  }
  img {

  }
  .info {
    .name {
      font-size: 1.3em;
    }
    .orgin {
      color: $shade5;
    }
  }
  .wave_score {}
}

// Results
.results {
  
}